# 2Factor API Configuration
# Get your API key from https://2factor.in/
TWO_FACTOR_API_KEY=2df45c64-1781-11f1-bcb0-0200cd936042
TWO_FACTOR_SENDER_ID=SNSCPL
TWO_FACTOR_ENTITY_ID=1001574959862480730
TWO_FACTOR_CONFIRM_TEMPLATE=snsihubconfirm01
TWO_FACTOR_DLT_TEMPLATE_ID=1007793909282020049

# Bitrix24 Webhook Configuration
# Format: https://your-domain.bitrix24.com/rest/user_id/webhook_code/crm.lead.add.json
# Get this from Bitrix24 CRM > Settings > Webhooks > Inbound Webhook
BITRIX24_WEBHOOK_URL=https://sns.bitrix24.in/rest/196/x3qk76bnwzi18ta6/
# Server Configuration
PORT=3000
