# 2Factor API Configuration
# Get your API key from https://2factor.in/
TWO_FACTOR_API_KEY=2df45c64-1781-11f1-bcb0-0200cd936042
TWO_FACTOR_SENDER_ID=SNSCPL
TWO_FACTOR_ENTITY_ID=1001574959862480730
TWO_FACTOR_CONFIRM_TEMPLATE=snsihubconfirm01
TWO_FACTOR_DLT_TEMPLATE_ID=1007793909282020049

# Bitrix24 Webhook Configuration
# Format: https://your-domain.bitrix24.com/rest/user_id/webhook_code/crm.lead.add.json
BITRIX24_WEBHOOK_URL=https://sns.bitrix24.in/rest/196/y57zpsuo3cx8yppu/

# Zoho Books Configuration
ZOHO_CLIENT_ID=1000.ITWNFKM1D1DJ048VV5GJH682NK9NQB
ZOHO_CLIENT_SECRET=8b8a2c718b0bcfb73fe67a1ffff368ba9027e2a323
ZOHO_REFRESH_TOKEN=1000.2b956a72e11e42b08366c6e3d3fee58c.efa51dcaca0400fb17a76044a5c20683
ZOHO_ORGANIZATION_ID=60060884990
ZOHO_REGION=in

# Server Configuration
PORT=3000
